*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

body{
    background: rgb(38, 37, 37);
    color: #fff;
    overflow-x: hidden;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/backgroundimg2-removebg-preview.png);
    background-size: 700px auto;  /* 700px wide, height adjusts */
    background-repeat: no-repeat;  /* prevent repeating */
    background-position: calc(100% - 0px) center;
}

.container{
    padding: 10px 10%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    z-index: 3;
}

nav .logo{
    width: 200px;
    height: 100%;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.header-text h1 span{
    color: #ff004f;
}

/* ---------------About-------------- */

#about{
    padding: 40px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 40%;
}

.about-col-1 img{
    width: 80%;
    border-radius: 15px;
}

.about-col-2{
    width: 60%;
}

.about-col-2 .sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 20px;
}
.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* -----------------------------Projects------------------------- */
.sub-title.pro{
    margin-bottom: 40px;

}
.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin-bottom: 30px;
}

.project-list{
    background-color: #4a4a4a;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.project-list:hover{
    transform: translateY(-5px);
}
.project-list img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 8px;
}
.project-list h3 {
    text-align: center;
    margin: 15px 0 10px;
    font-size: 20px;
    color: #fcf2f2;
}
.project-list p {
    font-size: 16px;
    color: #fcf2f2;
    margin-bottom: 10px;
    margin-left: 10px;
}
.languages {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;

}
.languages p {
    padding: 6px 12px;
    border: 1px solid #000000;
    border-radius: 6px;
    background-color: rgb(38, 37, 37);
    font-size: 13px;
    color: #fcf2f2;
}

/* -----------------------------Contact------------------------- */

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
    margin-top: -20px;
}

.contact-left p{
    margin-top: 30px;
    font-size: 20px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin: 15px 15px 0 0;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #171717;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    resize: none;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background-color: #ff004f;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #4a4a4a;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i{
    color: #ff004f;
    margin-right: 10px;
}

nav .fa-solid{
    display: none;
}

/* -----------css for small screen ---------- */
@media only screen and (max-width: 869px){
    .container{
    padding: 20px;
    position: relative;
    }
    #header{
        background-image: url(images/backgroundimg-removebg-preview.png);
        background-size: 400px auto;
        background-position: bottom right;
    }
    .header-text{
        margin-top: 50%;
        font-size: 16px;
    }
    nav{
        width: 100%;
        justify-content: space-between;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav .logo{
        width: 150px;
    }
    nav ul{
        background: #41393c;
        position: fixed;
        top: 0;
        right: -30%;
        width: 30%;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .about-col-2 .sub-title{
        font-size: 30px;
        margin: 20px 0 5px 0;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-top: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .sub-title.pro{
        margin: -40px 0 20px 0px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}